* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piano {
    width: 800px;
    height: 300px;
    position: relative;
}

.pianoKey {
    height: 100%;
    transition: background .1s ease;
}

.whiteKeys {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.whiteKey {
    background: white;
    border: 1px solid black
}

.blackKeys {
    width: 100%;
    height: 66%;
    display: grid;
    grid-template-columns: repeat(45, 1fr);
    position: absolute;
    top: 0;
}

.blackKey {
    background: black;
}

.blackKey:nth-child(1) {
    grid-column: 3/5;
}

.blackKey:nth-child(2) {
    grid-column: 6/8;
}

.blackKey:nth-child(3) {
    grid-column: 12/14;
}

.blackKey:nth-child(4) {
    grid-column: 15/17;
}

.blackKey:nth-child(5) {
    grid-column: 18/20;
}

.blackKey:nth-child(6) {
    grid-column: 24/26;
}

.blackKey:nth-child(7) {
    grid-column: 27/29;
}

.blackKey:nth-child(8) {
    grid-column: 33/35;
}

.blackKey:nth-child(9) {
    grid-column: 36/38;
}

.blackKey:nth-child(10) {
    grid-column: 39/41;
}

.whiteKey.active {
    background: rgb(146, 146, 146);
}

.blackKey.active {
    background: rgb(73, 73, 73);
}